@attribute [Authorize]
@page "/identities/{id}"
@using Microsoft.AspNetCore.Authorization
@using AppService
@inject IIdentitiesClient IdentitiesClient
@inject IRfidClient RfidClient
@inject NavigationManager NavigationManager

<h1>Edit identity</h1>

<p>Enter information.</p>

@if (Identity != null)
{
    <div>
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="Name" aria-describedby="NameHelp" placeholder="Name" @bind="@Identity.Name" />
            <small id="NameHelp" class="form-text text-muted">Enter a name for this identity.</small>
        </div>

        <div>
            <button class="btn btn-primary" @onclick="@OnCreateButtonClicked">Create</button>
        </div>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            @if (credentials != null)
            {
                @foreach (var identity in credentials)
                {
                    <tr>
                        <td>@identity.CardType</td>
                        <td>@string.Join(",", identity.Data.Select(x => x.ToString("X")))</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div>
        <div class="form-group">

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Card No" aria-label="Recipient's username" aria-describedby="basic-addon2" @bind="@CardNo">
                <div class="input-group-append">
                    <button class="btn btn-secondary" @onclick="ReadTag">Read tag</button>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" @onclick="@OnAddCredentialClicked">Add Credential</button>
    </div>
}



@functions {
    [Parameter]
    public string Id { get; set; }

    List<CardCredential> credentials;
    Identity Identity { get; set; }

    string CardNo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Identity = await IdentitiesClient.GetAsync(Guid.Parse(Id));
        credentials = (await IdentitiesClient.GetCredentialsAsync(Guid.Parse(Id))).ToList();
        StateHasChanged();
    }

    protected async Task OnCreateButtonClicked()
    {
        try
        {
            await IdentitiesClient.PutAsync(Guid.Parse(Id), Identity);
        }
        catch (Exception exc)
        {
            Console.WriteLine(exc);
        }
        // NavigationManager.NavigateTo("/identities");
    }

    protected async Task OnAddCredentialClicked()
    {
        var credential = new CardCredential()
        {
            Data = CardNo
            .Split(',')
            .Select(x => x.Trim())
            .Select(x => byte.Parse(x, System.Globalization.NumberStyles.HexNumber))
            .ToArray()
        };
        credentials.Add(credential);
        CardNo = null;

        await IdentitiesClient.AddCredentialAsync(Guid.Parse(Id), credential);
    }

    private async Task ReadTag()
    {
        var result = await RfidClient.ReadTagAsync("AccessPoint1");
        CardNo = string.Join(", ", result.Uid.Select(x => x.ToString("X")));
    }
}